* {
    margin: 0;
    padding: 0;
}

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 
/* /*  */ /*  HEADER *//*  */ /*  */ /*  */ /**/ 
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 

header {
    background-color: #fffbfb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px;
    display: flex;
    justify-content: center;
    padding-top: 4.5vh;
    padding-bottom: 4.5vh;
}

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 
/* /*  */ /*  BODY *//*  */ /*  */ /*  */ /**/ 
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 

body {
    background-color: #f0eef1;
}

button {
    border: none;
}

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 
/* /*  */ /*  ADD NEW BTN *//*  */ /*  */ /*  */ /**/ 
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 

.add-btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.5vh;
    padding-bottom: 4.5vh;
}

.add-new {
    background-color: #2596be;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 10vw;
    height: 6.5vh;
    border-radius: 45px;
    font-weight: bold;
}

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 
/* /*  */ /*  CONTAINER *//*  */ /*  */ /*  */ /**/ 
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 

.container {
    display: flex;
    justify-content: start;
    gap: 4vw;
    flex-wrap: wrap;
    padding-left: 8vw;
    padding-right: 8vw;
}

.book {
    cursor: pointer;
    border: 1px solid black;
    height: 30vh;
    width: 11.5vw;
    display: flex;
    margin-left: 1.5vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vh;
}

.book > p {
    padding-left: 2vw;
}

.book-btns {
    width: 80%;
    padding-top: 5vh;
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}